body {
    font-family: monospace;
    background-color: #444444;
    color: white;
}

main {
    /*width: 800px;*/
    margin: auto;
}

header, footer {
    text-align: center;
}

a, a:visited {
    color: #3498db;
}

#myCanvasContainer {
    margin-top: 2em;
}

#canvasText {
    font-family: monospace;
    position: absolute;
    z-index: 100;
    /*width: 800px;*/
    font-size: 1.5em;
    margin: 0.5em;
}
#canvasText p {
    margin: 0;
}

.hidden {
    display: none;
}